{
    "printWidth": 240,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "preserve",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": false,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "singleAttributePerLine": false
}
